<div class="row justify-content-md-center" align="center">
  <div class="col-8">
    <form action="/rooms/{{room.id}}/posts/{{post.id}}/comments/{{comment.id}}/commentscomments" method="post" id="new-commentcomment-form">
      <legend>New Comment of a Comment</legend>

      <div class="form-group">
        <textarea type="text" name="body" class="form-control" id="commentcomment-body" placeholder="Body" form="new-commentcomment-form"></textarea>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
