<div class="container text-center">
  <h1>{{title}}</h1>
  <img src="https://i-cdn.phonearena.com/images/article/70867-image/Best-Reddit-clients-for-Android.jpg" alt="reddit">
  <div id="grid">
    <div class="gridContent" id="create">
      <p>Create, view, and edit discussions!</p>
      <img width:"50px" id="chat" src="http://resources.uknowkids.com/hs-fs/hub/176530/file-2179872362-jpg/Deposit_Photos_Images/chatroom600x400.jpg?t=1529593668452">
    </div>

    <div class="gridContent" id="upvote">
      <p>Upvote and downvote comments!</p>
      <img id="crop" src="https://cdn1.vectorstock.com/i/1000x1000/51/05/thumbs-up-thumbs-down-vector-14215105.jpg">
    </div>
    <div class="gridContent" id="button">
      <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-success">+</button>
        <button type="button" class="btn btn-danger">-</button>
      </div>
    </div>

    <div class="gridContent" id="register">
      <a class="btn btn-primary" href="/users/new">Sign Up</a>
    </div>
  <div>
</div>
