<div class="container">
  <div align="center">
    <h2>Users</h2>
  </div>

<input type="text" id="keyWords" onkeyup="searchBar()" placeholder="Search for users..." title="Type in a username">

<ul id="list">
  
  {{#each users as |user|}}
    <li>
      <a href="#">{{user.username}}</a>
    </li>
  {{/each}}
</ul>
</div>

<script>
function searchBar() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("keyWords");
    filter = input.value.toUpperCase();
    ul = document.getElementById("list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
